In [1]:
# 1.program to find the factorial of a number

In [2]:
def fact(n):
  if n==0:
    return 1
  return n * fact(n-1)

In [3]:
fact(5)

120

In [ ]:
#2. program to display the multiplication table

In [4]:
n = int(input("Enter the number"))
for i in range(1,11):
  print(n,"x",i,"=",n*i)

Enter the number67
67 x 1 = 67
67 x 2 = 134
67 x 3 = 201
67 x 4 = 268
67 x 5 = 335
67 x 6 = 402
67 x 7 = 469
67 x 8 = 536
67 x 9 = 603
67 x 10 = 670

In [5]:
#3.program to print the fibonacci number

In [8]:
def fib(n):
  if  n==1 or n==2:
     return 1
  fib_n_1 = fib(n-1)
  fib_n_2 = fib(n-2)

  output = fib_n_1 + fib_n_2
  return output

In [9]:
fib(10)

55

In [10]:
#4. program to check armstrong number

In [15]:
n= int(input("Enter the number:"))
def check_armstrong(num):
  if num in range(1,10):
    return True
  order = len(str(num))
  sum   = 0
  original = num

  while num>0:
    digit = num % 10
    sum += digit**order
    num   = num//10
  if sum == orginal:
    return True
    return False
if check_armstrong(num):
  print("number is armstrong")
else:
  print("number is not armstrong")

Enter the number:8891

NameError: ignored

In [16]:
#5. program to find armstrong number in an interval

In [17]:
#6.program to find the sum of natural numbers

In [20]:
def sum_n(n):
  if n==0: # base case
    return 0


  smallout = sum_n(n-1) # induction hypothesis
  output   = smallout + n # induction step
  return output

In [21]:
sum_n(9)

45